@page "/timeline"

@using WhenTheyLived.Data
@inject LifetimeService lifetimeService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<input value="@CurrentValue" @onchange="@((ChangeEventArgs e) => CurrentValue = e.Value.ToString())" />
<button @onclick="ButtonAction">Search</button>
<p>@StoredValue</p>
@if (lifetimes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth</th>
                <th>Death</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lifetime in lifetimes)
            {
                <tr>
                    <td>@lifetime.Name</td>
                    <td>@lifetime.Birth</td>
                    <td>@lifetime.Death</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public string CurrentValue { get; set; }
    private Lifetime[] lifetimes;
    public string StoredValue { get; set; }

    private void ButtonAction()
    {
        StoredValue = CurrentValue;
    }

    protected override async Task OnInitializedAsync()
    {
        string PersonID = "Kim Il-Sung";
        lifetimes = await lifetimeService.GetLifetimesAsync(PersonID);
    }


}
