@page "/timeline"

@using WhenTheyLived.Data
@inject LifetimeService lifetimeService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<input value="@CurrentValue" @onchange="@((ChangeEventArgs __e) => CurrentValue =__e.Value.ToString())" />

@if (lifetimes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@CurrentValue</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth</th>
                <th>Death</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lifetime in lifetimes)
            {
                <tr>
                    <td>@lifetime.Name</td>
                    <td>@lifetime.Birth</td>
                    <td>@lifetime.Death</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private string CurrentValue { get; set; }
    private Lifetime[] lifetimes;

    protected override async Task OnInitializedAsync()
    {
        string PersonID = "Kim Il-Sung";
        lifetimes = await lifetimeService.GetLifetimesAsync(PersonID);
    }


}
